/* start main rules  */
body{
    background-color: #f4f4f4;
    font-size: 16px;
}



/* end main rules  */


/*start login form */

.login{
   width: 300px; 
   margin: 100px auto;
}

.login input{
    margin-bottom: 10px;
    
}

.login .btn{
    width:100%;
    background-color: #008dde;
}

.login h4{
    color:#888;
}; 

.login .form-control{
    background-color: #eaeaea;
}

/* End login form */


/* Start navbar bootstrap edit */

.bg-light  {
    border-radius: 0;
    margin-bottom: 0;
  
}

.nav-link{
    padding:15px 12px;
}


.navbar-brand{
   font-size: 1em;
   padding:15px 12px;
   margin: 0px 0px 0px 0px;
}


.show , .nav-link{
 background-color:#add8e6;
 box-shadow: red;
}

.nav-link, .navbarDropdownMenuLink{
    background-color:#F8F9FA;
   
}

/* END navbar bootstrap edit */


/* Start members page*/

h1{
    font-size: 55px;
    margin:40px 0; 
    font-weight: bold;
    color: #666
}

/* Start members page*/